{{#each data as |person|}}
    <li class="ranking-list-person">
        {{!-- <p>Positivo: {{getPositive person.positive person.negative}}</p> --}}
        {{!-- <p>Negativo: {{getNegative person.positive person.negative}}</p> --}}
        <div class="person-image">
            <div style="background-image:url({{person.picture}})" class="person-image-container"></div>
            <span class="person-image-index">{{getPersonIndex @index}}</span>
        </div>
        <div class="person-info">
            <h2 class="person-info-name">{{person.name}}</h2>
            <p class="person-info-description">{{person.description}}</p>
            <div class="person-info-mobile-votes">
                <div class="mobile-votes mobile-votes-like">
                    <div class="mobile-votes-title">GOSTAM</div>
                    <div class="mobile-votes-content">{{getPositive person.positive person.negative}}</div>
                </div>
                <div class="mobile-votes mobile-votes-dislike">
                    <div class="mobile-votes mobile-votes-title">NÃO GOSTAM</div>
                    <div class="mobile-votes mobile-votes-content">{{getNegative person.positive person.negative}}</div>
                </div>
            </div>
        </div>
        <div class="person-tooltip">
            <div class="tooltip-baloon">
                <div class="tooltip-baloon-data tooltip-baloon-data-positive">
                    <div class="baloon-data baloon-data-header">
                        <p>GOSTAM</p>
                    </div>
                    <div class="baloon-data baloon-data-content">
                        {{getPositive person.positive person.negative}}
                    </div>
                </div>
                <div class="tooltip-baloon-data tooltip-baloon-data-negative">
                    <div class="baloon-data baloon-data-header">
                        <p>NÃO GOSTAM</p>
                    </div>
                    <div class="baloon-data baloon-data-content">
                        {{getNegative person.positive person.negative}}
                    </div>
                </div>
            </div>
        </div>
    </li>
{{/each}}