{{#each data as |person|}}
    <li class="ranking-list-person">
        <div class="person-image">
            <div style="background-image:url({{person.picture}})" class="person-image-container"></div>
        </div>
        <div class="person-info">
            <h2 class="person-info-name">{{person.name}}</h2>
            <p class="person-info-description">{{person.description}}</p>
        </div>
        <div class="person-tooltip">
            <div class="tooltip-baloon">
                {{#if person.positive}}
                    {{#if person.negative}}
                        <div class="tooltip-baloon-positive">{{person.positive}}</div>
                        <div class="tooltip-baloon-negative">{{person.negative}}</div>
                    {{/if}}
                {{else}}
                    <div class="tooltip-baloon-age">{{person.age}}</div>
                {{/if}}
            </div>
        </div>
    </li>
{{/each}}